body{
    background-color:rgb(144, 144, 201);
}

#step1{
    width: 360px;
    height: 400px;
    background-color: rgb(99, 99, 124);
    border-radius: 10px;
    margin: 8% auto;
  
}

#step2{
width: 360px;
    height: 400px;
    background-color: rgb(99, 99, 124);
    border-radius: 10px;
margin: 8% auto;

}
.info{
    text-align: center;
    padding : 5px
}
input{
    padding: 15px;
    width: 250px;
 border-radius: 2px;
 border-style: none;
}
#bt1{
    margin-left: 200px;
    width: 90px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
}
#bt2{
    
    width: 90px;
    height: 50px;
    border-radius: 5px;
    border-style:none ;
}

#bt3{
    margin-top: 30px;
    width: 90px;
    height: 50px;
    border-radius: 5px;
    border-style:none ;
}
.change{
    padding-top:10px;
}